<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Phones</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1>Used Phones</h1>

    <% allPhones.forEach((onePhone) => { %>
        <p>Phone Name: <%= onePhone.phoneName %> </p>
        <p>Color: <%= onePhone.color %></p>
        <p>Usage Duration: <%= onePhone.usageDuration %></p>
        <p>Price: <%= onePhone.price %></p>
        <p>Description: <%= onePhone.description %></p>
        <p>Available: <%= onePhone.available ? "Yes" : "No" %></p>

        <a href="/used-phones/update/<%= onePhone._id %>">Update</a>
        <form action="/used-phones/delete/<%= onePhone._id %>" method="post">
        <button>Delete</button>
        </form>
    <% }); %>

</body>
</html>