<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Phones</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../navbar') %>
    <div class="page-container">
    <h1>Used Phones</h1>

    <div class="phone-list-box">
    <% allPhones.forEach((onePhone) => { %>
        <ul class="phone-list">
            <li>
                <h2 class="phone-list"> <%= onePhone.phoneName %> </h2>
                <p class="phone-list">Color: <%= onePhone.color %></p>
                <p class="phone-list">Used for: <%= onePhone.usageDuration %></p>
                <p class="phone-list">Price: <%= onePhone.price %></p>
                <p class="phone-list">Description: <%= onePhone.description %></p>
                <p class="phone-list">Available: <%= onePhone.available ? "Yes" : "No" %></p>
                <a href="/used-phones/<%= onePhone._id %>">Seller Contact Information</a>
            </li>
    <% }); %>
    </div>
</body>
</html>