<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Info</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1><%= foundPhone.phoneName %> - Seller Contact Information</h1>
    <p>Seller Name: <%= foundPhone.seller.username %></p>
    <p>Phone: <%= foundPhone.seller.phone %></p>
    <p>Email: <%= foundPhone.seller.email %></p>

    <% if (user && foundPhone.seller._id.toString() === user._id.toString()) { %>
        <a href="/used-phones/update/<%= foundPhone._id %>">Update</a>
        <form action="/used-phones/delete/<%= foundPhone._id %>" method="post">
            <button>Delete</button>
        </form>
    <% } %>
</body>
</html>