<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class=phone-seller-info>
    <h1><%= foundPhone.phoneName %> - Seller Contact Information</h1>
    <p>Seller User Name: <%= foundPhone.seller.username %></p>
    <p>Phone: <%= foundPhone.seller.phone %></p>
    <p>Email: <%= foundPhone.seller.email %></p>
    <% if (user && foundPhone.seller._id.toString() === user._id.toString()) { %>
        <a class="update-btn" href='/used-phones/update/<%= foundPhone._id %>'>Update</a>
        <form action="/used-phones/delete/<%= foundPhone._id %>" method="post">
            <button class="delete-btn">Delete</button>
        </form>
    <% } %>
    <p>------------</p>
    <a class="links" href="/used-phones">Back</a>
    </div>
</body>
</html>